# MkDocs Core
mkdocs>=1.5.3
mkdocs-material>=9.5.0

# Internationalization
mkdocs-static-i18n>=1.2.0

# Plugins
mkdocs-glightbox>=0.3.7
mkdocs-minify-plugin>=0.8.0
mkdocs-redirects>=1.2.1
mkdocs-caption-plugin>=0.3.1

# Markdown Extensions
pymdown-extensions>=10.7
markdown>=3.5.0

# Additional utilities
Pygments>=2.17.0
pyyaml>=6.0.1
